<launch>

  <node pkg="quadrotor_simulator"
  type="quadrotor_simulator_trpy"
  name="quadrotor_simulator_trpy"
  output="screen">
  <param name="rate/odom" value="100.0"/>
  <param name="initial_pos/x" value="0"/>
  <param name="initial_pos/y" value="0"/>
  <param name="initial_pos/z" value="0.0"/>
  <param name="gains/rot/x" value="0.05"/>
  <param name="gains/rot/y" value="0.05"/>
  <param name="gains/rot/z" value="0.02"/>
  <param name="gains/ang/x" value="0.008"/>
  <param name="gains/ang/y" value="0.008"/>
  <param name="gains/ang/z" value="0.005"/>
  <remap from="~odom" to="odom"/>
  <remap from="~cmd" to="/nanoplus/trpy_cmd"/>
  </node>

  <node pkg="quadrotor_simulator"
  type="quadrotor_simulator_trpy"
  name="quadrotor_simulator_trpy2"
  output="screen">
  <param name="rate/odom" value="100.0"/>
  <param name="initial_pos/x" value="0.3"/>
  <param name="initial_pos/y" value="0.3"/>
  <param name="initial_pos/z" value="0.0"/>
  <param name="gains/rot/x" value="0.05"/>
  <param name="gains/rot/y" value="0.05"/>
  <param name="gains/rot/z" value="0.02"/>
  <param name="gains/ang/x" value="0.008"/>
  <param name="gains/ang/y" value="0.008"/>
  <param name="gains/ang/z" value="0.005"/>
  <remap from="~odom" to="odom2"/>
  <remap from="~cmd" to="/nanoplus/trpy_cmd2"/>
  </node>


  <node pkg="quadrotor_simulator"
  type="quadrotor_simulator_trpy"
  name="quadrotor_simulator_trpy3"
  output="screen">
  <param name="rate/odom" value="100.0"/>
  <param name="initial_pos/x" value="0.3"/>
  <param name="initial_pos/y" value="-0.3"/>
  <param name="initial_pos/z" value="0.0"/>
  <param name="gains/rot/x" value="0.05"/>
  <param name="gains/rot/y" value="0.05"/>
  <param name="gains/rot/z" value="0.02"/>
  <param name="gains/ang/x" value="0.008"/>
  <param name="gains/ang/y" value="0.008"/>
  <param name="gains/ang/z" value="0.005"/>
  <remap from="~odom" to="odom3"/>
  <remap from="~cmd" to="/nanoplus/trpy_cmd3"/>
  </node>


  <node pkg="quadrotor_simulator"
  type="quadrotor_simulator_trpy"
  name="quadrotor_simulator_trpy4"
  output="screen">
  <param name="rate/odom" value="100.0"/>
  <param name="initial_pos/x" value="-0.3"/>
  <param name="initial_pos/y" value="-0.3"/>
  <param name="initial_pos/z" value="0.0"/>
  <param name="gains/rot/x" value="0.05"/>
  <param name="gains/rot/y" value="0.05"/>
  <param name="gains/rot/z" value="0.02"/>
  <param name="gains/ang/x" value="0.008"/>
  <param name="gains/ang/y" value="0.008"/>
  <param name="gains/ang/z" value="0.005"/>
  <remap from="~odom" to="odom4"/>
  <remap from="~cmd" to="/nanoplus/trpy_cmd4"/>
  </node>

  <node pkg="mesh_visualization"
    type="mesh_visualization"
    name="nanoplus_visualization"
    output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.9"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="0.0"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom"/>
  </node>

  <node pkg="mesh_visualization"
    type="mesh_visualization"
    name="nanoplus_visualization2"
    output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="0.9"/>
    <param name="color/b" value="0.0"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom2"/>
  </node>

  <node pkg="mesh_visualization"
    type="mesh_visualization"
    name="nanoplus_visualization3"
    output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="0.9"/>
    <param name="color/b" value="0.9"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom3"/>
  </node>

  <node pkg="mesh_visualization"
    type="mesh_visualization"
    name="nanoplus_visualization4"
    output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.6"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="0.8"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom4"/>
  </node>

  <node pkg="map_visualization"
    type="map_visual"
    name="map_visual"
    output="screen">
    <param name="map/offx" value="0"/>
    <param name="map/offy" value="0"/>
    <param name="map/offz" value="0"/>
    <param name="map/res" value="0.2"/>
    <param name="map/cmap" value="$(find map_visualization)/datas/demo_map.yaml"/>
  </node>

  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find quadrotor_simulator)/launch/rviz_test.rviz"
        output="screen"/>
</launch>
