<launch>
  <param name="map/res" value="0.8"/>
  <param name="map/cmap" value="$(find p_controller)/datas/Workspaces/Exp1/Workspace.xml"/>

  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find p_controller)/launch/test_plan_executor.rviz"
        output="screen"/>

  <node pkg="map_visualization"
        type="map_visual.py"
        name="map_visual"
        output="screen">
  </node>

  <node pkg="mesh_visualization"
        type="mesh_visualization"
        name="nanoplus_visualization0"
        output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.9"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="0.0"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom0"/>
  </node>

  <node pkg="p_controller"
        type="test_plan_executor"
        name="test_plan_executor"
        args="-w $(find p_controller)/datas/Workspaces/Exp1/Workspace.xml -threads 10"
        output="screen">
    <remap from="~odom0" to="odom0"/>
  </node>

</launch>
