<launch>
  <param name="map/res" value="0.2"/>
  <param name="map/cmap" value="$(find p_controller)/datas/Workspaces/Exp1/Workspace.xml"/>

  <node pkg="rviz"
        type="rviz"
        name="rviz"
        args="-d $(find p_controller)/launch/test_motion_planner.rviz"
        output="screen"/>

  <node pkg="map_visualization"
        type="map_visual.py"
        name="map_visual"
        output="screen">
  </node>

  <node pkg="mesh_visualization"
        type="mesh_visualization"
        name="nanoplus_visualization0"
        output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.9"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="0.0"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom0"/>
  </node>

  <node pkg="mesh_visualization"
        type="mesh_visualization"
        name="nanoplus_visualization1"
        output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="0.9"/>
    <param name="color/b" value="0.0"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom1"/>
  </node>

  <node pkg="mesh_visualization"
        type="mesh_visualization"
        name="nanoplus_visualization2"
        output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.0"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="0.9"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom2"/>
  </node>

  <node pkg="mesh_visualization"
        type="mesh_visualization"
        name="nanoplus_visualization3"
        output="screen">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh"/>
    <param name="color/r" value="0.9"/>
    <param name="color/g" value="0.0"/>
    <param name="color/b" value="0.9"/>
    <param name="color/a" value="0.7"/>
    <remap from="~odom" to="odom3"/>
  </node>

  <node pkg="p_controller"
        type="test_motion_planner"
        name="test_motion_planner"
        args="-w $(find p_controller)/datas/Workspaces/Exp1/Workspace.xml -cooperative -threads 20 -primitive $(find p_controller)/../../../Lib/PlanGenerator/primitive.txt"
        output="screen">
    <remap from="~odom0" to="odom0"/>
    <remap from="~odom1" to="odom1"/>
    <remap from="~odom2" to="odom2"/>
    <remap from="~odom3" to="odom3"/>
  </node>

</launch>
