<launch>
  <param name="map/res" value="0.2" />
  <param name="map/cmap" value="$(find p_controller)/../../../Workspaces/Videos/16_4/Workspace.xml" />

  <node args="-d $(find p_controller)/../../../Workspaces/Videos/16_4/Workspace.1.rviz" name="rviz1" output="screen" pkg="rviz" type="rviz" />

  <node args="-d $(find p_controller)/../../../Workspaces/Videos/16_4/Workspace.2.rviz" name="rviz2" output="screen" pkg="rviz" type="rviz" />

  <node name="map_visual" output="screen" pkg="map_visualization" type="map_visual.py">
  </node>

  <node args="-w $(find p_controller)/../../../Workspaces/Videos/16_4/Workspace.xml -cooperative -threads 20" name="test_motion_planner" output="screen" pkg="p_controller" required="true" type="test_motion_planner">
    
  <remap from="~odom0" to="odom0" /><remap from="~odom1" to="odom1" /><remap from="~odom2" to="odom2" /><remap from="~odom3" to="odom3" /></node>

<node name="nanoplus_visualization0" output="screen" pkg="mesh_visualization" type="mesh_visualization">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh" />
    <param name="color/r" value="0.0120080223554" />
    <param name="color/g" value="0.26896147067" />
    <param name="color/b" value="0" />
    <param name="color/a" value="0.7" />
    <remap from="~odom" to="odom0" />
  </node>

  <node name="nanoplus_visualization1" output="screen" pkg="mesh_visualization" type="mesh_visualization">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh" />
    <param name="color/r" value="0.43804399229" />
    <param name="color/g" value="0.536532858797" />
    <param name="color/b" value="0" />
    <param name="color/a" value="0.7" />
    <remap from="~odom" to="odom1" />
  </node>

  <node name="nanoplus_visualization2" output="screen" pkg="mesh_visualization" type="mesh_visualization">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh" />
    <param name="color/r" value="0.579639947818" />
    <param name="color/g" value="0" />
    <param name="color/b" value="0.612968464573" />
    <param name="color/a" value="0.7" />
    <remap from="~odom" to="odom2" />
  </node>

  <node name="nanoplus_visualization3" output="screen" pkg="mesh_visualization" type="mesh_visualization">
    <param name="mesh_resource" value="package://mesh_visualization/meshes/nano.mesh" />
    <param name="color/r" value="0.643397341725" />
    <param name="color/g" value="0" />
    <param name="color/b" value="0.713736794663" />
    <param name="color/a" value="0.7" />
    <remap from="~odom" to="odom3" />
  </node>

  </launch>